extends layout

block content
    h1 О нас

    p Текст о компании — это не произведение искусства, которое нужно вешать в рамочку, чтобы любоваться. Это обычный коммерческий инструмент, у которого есть свои задачи. И он должен их решать. Ни больше, ни меньше. Сегодня мы рассмотрели пять уровней задач текста “О нас”, а также модульный подход к его написанию. Все, что остается — это сделать адаптацию под Вашу организацию.