extends layout

block content
    h1 О нас

    //- form(method="post")
    //-     fieldset.form-group
    //-         label(for="name") Name:
    //-         input.form-control(id="name", name="name", type="text", placeholder="Введите имя курса")
    //-         small.text-muted Добавьте свой новый курс
    //-     button.btn.btn-primary(type="submit") Создать курс
    //-     a.btn.btn-default(href="/courses") Отмена
    p Текст о компании — это не произведение искусства, которое нужно вешать в рамочку, чтобы любоваться. Это обычный коммерческий инструмент, у которого есть свои задачи. И он должен их решать. Ни больше, ни меньше. Сегодня мы рассмотрели пять уровней задач текста “О нас”, а также модульный подход к его написанию. Все, что остается — это сделать адаптацию под Вашу организацию.