extends layout

block content
    h1 Контакты

    form#form(method="post")
        .form-group
            label(for "name") Name:
            input(type="text", name="name", placeholder="Введите Ваше имя")
        .form-group    
            label(for "phone") Phone:
            input(type="phone", name="phone", placeholder="Введите Ваш телефон")
        .form-group    
            label(for "email") Email:
            input(type="email", name="email", placeholder="Введите Ваш email")
        .form-group    
            button(type='submit') Submit
    